<div class="photo-dialog">
  <!-- Header -->
  <div class="photo-dialog__header">
    <mat-icon>photo_camera</mat-icon>
    <span class="photo-dialog__header-by">by</span>
    <h2>{{ data.photographer }}</h2>
  </div>

  <!-- Photo -->
  <app-photo [photo]="data" size="expanded">
  </app-photo>

  <ng-container *ngIf="hasOpened$ | async">
    <!-- Close FAB -->
    <button
      mat-fab
      mat-dialog-close
      aria-label="Close Button"
      appDialogOffset="top"
      matTooltip="Close"
      matTooltipPosition="right"
      class="photo-dialog__close-button"
    >
      <mat-icon>close</mat-icon>
    </button>
  
    <!-- Download FAB -->
    <button
      mat-fab
      appDialogOffset="bottom"
      aria-label="Download Button"
      matTooltip="Download"
      matTooltipPosition="right"
      class="photo-dialog__download-button"
      [mat-dialog-close]="true"
    >
      <mat-icon>file_download</mat-icon>
    </button>
  </ng-container>
</div>