<div class="photo-dialog">
  <div class="photo-dialog__header">
    <mat-icon>photo_camera</mat-icon>
    <span class="photo-dialog__header-by">by</span>
    <h2>{{ data.photographer }}</h2>
  </div>
  <object class="photo">
    <embed type="image/jpg" [src]="data.expandedUrl" />
  </object>
  <button
    mat-fab
    mat-dialog-close
    appDialogOffset
    matTooltip="Close"
    matTooltipPosition="right"
    class="photo-dialog__close-button"
  >
    <mat-icon>close</mat-icon>
  </button>
  <button
    mat-fab
    appDialogOffset
    matTooltip="Download"
    matTooltipPosition="right"
    class="photo-dialog__download-button"
    [mat-dialog-close]="true"
  >
    <mat-icon>file_download</mat-icon>
  </button>
</div>

<!-- <ng-template
  #fabButton
  let-type
  let-tooltip="tooltip"
  let-icon="icon"
>
<button
  mat-fab
  [matTooltip]="tooltip"
  [class]="'photo-dialog__' + type + '-button'"
  [mat-dialog-close]="true"
  >
    <mat-icon>file_download</mat-icon>
  </button>
</ng-template> -->