<div class="app" role="main">
  <!-- Header -->
  <app-header
    (onSearchInput)="onSearchInputted($event)"
  ></app-header>

  <!-- Gallery -->
  <section
    *ngFor="let photoSection of searchResults$ | async"
    class="app__gallery"
  >
    <app-photo
      *ngFor="let photo of photoSection.photos"
      [style.margin]="'15px'"
      [photo]="photo"
      (onPhotoClick)="onPhotoClicked($event)"
    ></app-photo>  
  </section>
  
  <!-- Loader -->
  <div class="app__loader">
    <mat-progress-spinner
      *ngIf="loading"
      mode="indeterminate"
      color="accent"
    ></mat-progress-spinner>
  </div>
</div>