
.app {
  background-color: #1c1c1c;
  color: white;
  min-height: 100vh;

  &__gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 10px;
  }

  &__loader,
  &__no-results {
    display: flex;
    justify-content: center;
    padding: 100px;

    h2 {
      letter-spacing: 1px;
      font-weight: 100;
    }
  }
}