<div class="app" role="main">
  <!-- Header -->
  <!-- [searchFormControl]="searchFormControl" -->
  <app-header
    (onSearchInput)="onSearchInputted($event)"
  ></app-header>

  <!-- Gallery -->
  <div class="app__gallery">
    <app-photo
      *ngFor="let photo of photos$ | async"
      [photo]="photo"
      (onPhotoClick)="onPhotoClicked($event)"
    ></app-photo>  
  </div>
</div>

<!-- <a
  #downloadRef
  [attr.href]="download"
  download="photo-download"
  type="image/jpg"
  id="download"
  hidden
></a> -->