<div class="app" role="main">
  <!-- Header -->
  <app-header
    (onSearchInput)="onSearchInputted($event)"
  ></app-header>

  <!-- Gallery -->
  <section
    *ngFor="let photoSection of searchResults$ | async"
    class="app__gallery"
  >
    <app-photo
      *ngFor="let photo of photoSection.photos"
      [attr.aria-label]="photo.alt"
      [style.margin]="'15px'"
      [style.cursor]="'pointer'"
      [photo]="photo"
      (onPhotoClick)="onPhotoClicked($event)"
    ></app-photo>  
  </section>
  
  <!-- Loader -->
  <div
    *ngIf="loading"
    class="app__loader"
  >
    <mat-progress-spinner
      aria-label="loading spinner"
      mode="indeterminate"
      color="accent"
    ></mat-progress-spinner>
  </div>

  <!-- Loader -->
  <div 
    *ngIf="(emptyResults$ | async) && !loading"
    class="app__no-results"
  >
    <h2 aria-label="No Results Found For Search">
      No Results Found for Search
    </h2>
  </div>
</div>